<h1> New profile </h1>
<%= form_for(@profile) do |f| %> 

  <div class="field">
      <%= f.label :title %> 
      <%= f.text_field :title %>
  </div>
  
  <div class="field">
      <%= f.label :hits %>
      <%= f.number_field :hits %>
  </div>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>

  <div class="actions">
      <%= f.submit "Save!" %> 
  </div>
<% end %>
