<h1> <%= @profile.user_id %>'s profile </h1>
<h2> <%= @profile.title %></h2>
<br />
<h5> Hits: <%= @profile.hits.to_s %> </h5>
<h6> Created at <%= @profile.created_at.to_s %> </h6>
<%= link_to "Back", profiles_path %>
