<h1>Create new user</h1>
<%= form_for(@user) do |f| %> 

  <div class="field">
      <%= f.label :login %> 
      <%= f.text_field :login %>
  </div>

  <div class="field">
      <%= f.label :password %>
      <%= f.text_field :password %>
  </div>
  
  <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>

  <div class="actions">
      <%= f.submit "Add!" %> 
  </div>
<% end %>
