<h1> All roles </h1>
<br />
<%= link_to "Create new role", new_role_path %>
<br />
<ul> 
    <% @roles.each do |role| %> 
        <li> 
           <%= role.role_name %> 
           <%= link_to "Edit this role", edit_role_path(role) %>
           <%= link_to "Delete this role", role, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li> 
    <% end %> 
</ul>
<%= link_to "Back to users", users_path %>