<h1> Posts dashboard </h1>
<br />
<%= link_to "Create new post", new_post_path %>
<br />
<ul> 
    <% @posts.each do |post| %> 
        <li> 
           <%= post.title + " " + post.user_id.to_s + " " + post.created_at.to_s %>
           <%= link_to "Show content", post %>
           <%= link_to "Edit this post", edit_post_path(post) %>
           <%= link_to "Delete this post", post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li> 
    <% end %> 
</ul>
<%= link_to "Show all favourites", favourites_path %>
<br />
<%= link_to "Show all comments", comments_path %>
<br />
<%= link_to "Back to users list", users_path %>