<h1> <%= @post.title %> </h1>
<br /> 
<h4> <%= @post.content %> </h4>
<br /> 
<h6> <%= @post.user_id %> </h6>
<br /> 
<%= link_to "Comment this post", new_comment_path %>
<br />
<%= link_to "Favourite this post", new_favourite_path %>
<br />
<%= link_to "Back", posts_path %>