%h1
  = @post.title
%br/
%h4
  = @post.content
%br/
%h6
  = @post.user_id
%br/
= link_to "Comment this post", new_comment_path
%br/
= link_to "Favourite this post", new_favourite_path
%br/
= link_to "Back", posts_path
